$primary-color: #8047ba;
$secondary-color: #fff;
$text-primary: #222;
$text-secondary: #fff;
$font-family: Roboto, "Helvetica Neue", sans-serif;

$breakpoints: (
        'sm': 640px,
        'md': 768px,
        'lg': 1024px,
        'xl': 1280px
);