@use "styles/main" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: $primary-color;
    font-family: $font-family;
    color: $text-primary;
    padding: 2.5rem;
}